html {
    scroll-behavior: smooth;
}


html {
    background-color: gray;
}

body {
    /* background-color: rgb(109, 7, 7); */
    box-sizing: border-box;
    margin: 0;  
    border: 3px solid orange;
    /* padding-top: 15px; */
}

#family {
    width: 50%;
    height: auto;
    object-fit: contain;
    /* border: 2px solid yellowgreen; */
    margin: auto;
}

header {
    /* border: 2px solid white; */
    margin: auto;
    padding: 10px;
}

#logoYnav {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;    
    display: flex;
    margin-bottom: 5rem;
    background-color: rgb(75, 17, 17)
}

header nav{
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header ul {
    display: flex;
    gap:30px;
    /* justify-content: end; */
    flex-wrap: wrap;
}
header li {
    list-style: none;
}
header a{
    color: aliceblue;
    text-decoration: none;
}
header a:hover {
    color: red;
}

main {
    /* border: 2px solid blue; */
    width: 80%;
    padding: 1rem;
    margin-top: 8rem;
    /* margin: 0 20%; */
    /* background-color: rgb(6, 6, 62) ; */
}

#presentacion h2 {
    color: yellow;
}

#presentacion {
    background-color: rgba(135, 92, 92, 0.9);
    margin-bottom: 3rem;
}

#familyGame {
    /* border: 2px solid rgb(231, 79, 8); */
    padding: 20px;
    width: 200px;
    height: auto;
    object-fit: contain;
    margin-right: 50px;
}

p {
    color: rgb(14, 1, 1);
}

#publi {
    /* border: 2px solid rgb(225, 255, 0); */
    padding: 30px;
    width: 300px;
    height: auto;
}

/* .fondo { */
    background-image: url(../imagenes/fondo1.jpg);
    background-repeat: repeat; /* o 'no-repeat' si no querés que se repita */
    background-size: contain;  /* o '64px 64px' si es un patrón tipo mosaico */
    background-position: center;
    background-color: #000; /* por si no carga la imagen */
    padding: 2rem;
    border-radius: 10px;
}


.tituloProductos {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    margin: 0 auto; /* Elimina cualquier separación superior */
    padding: 10px; /* Opcional para ajustar */
    color: #000;
}


#productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Ajusta columnas dinámicamente */
    padding: 20px; /* Ajusta según necesidad */
    gap: 20px; /* Espaciado entre los productos */
    justify-items: center; /* Centra los elementos dentro de las celdas */
}



.producto {
    background-color: wheat;
    border: 2px solid #333;
    padding: 1rem;
    border-radius: 8px;
    width: 220px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
    transition: transform 0.2s ease;
}

.producto:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
}

.producto img {
    width: 100%;
    height: auto;
    object-fit: contain;
}


img {
    width: 200px;
}

h2 {
    color: rgb(3, 2, 1);
}

.tituloForm{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #000;
}


.formContacto{
    display: flex;
    background-color: rgba(135, 92, 92, 0.2);
    flex-direction: column;
    width: 40%;
    margin:auto;
    height: 13rem;
    justify-content: space-around;
    padding: 2rem;
    align-items: center;
}

.tituloResenias{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #000;
}

.resenias{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
    place-items: center;
    padding: 1rem;
}

.card {
    background-color: #F5F5F5;
    border-radius: 50px;
    color: #6F8191;
    padding-top: 2rem;
    position: relative;
    margin-top: 4rem;
    width: 15rem;
    padding: 2rem 1rem 0;
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px 50px #b40e9e;
    transition: transform 0.3s ease-out;
}


.card:hover {
    transform: translateY(-30px)
}


.card img {
    position: absolute;
    top: -2rem;
    height: 4rem;
    width: 4rem;
    border-radius: 20px;
}

/* .card-content { */
    margin-top: 1rem;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
}

.card-nombre {
    font-weight: 600;
    display: inline-block;
    margin-bottom: 0.5rem;
}


.card .fa-solid {
    color: rgb(255, 217, 0);
}

.card-fecha {
    font-size: 0.6rem;
}

.card-content p {
    font-style: italic;
    font-size: 1rem;
    color: blue;
}


#map {
    height: 400px;
    /* margin: auto; */
    width: 50%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

#navInicio {
    display: flex;
    justify-content: space-around;
    
}

#redes {
    display: flex;
    align-items: end;
    flex-direction: column;
    gap: 1rem;
    margin-right: 2rem;
}

/* Anclas */
/* #presentacion {
    position: relative;
    top: 20rem;
} */